.inven-wrap {
    width: 100vw; height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

/* 2클래스를 다 가지고 있을 경우 */
.inven-wrap.is-active {
    display: block;
}

.inven-wrap .inven-content {
    background-color: rgb(90, 180, 33);
    border: 4px solid rgb(205, 205, 205);
    border-radius: 12px;
    width: 250px; height: 280px;
    position: fixed;
    top: 120px; right: 10px;
}

.inven-wrap .inven-content span {
    width: 30px; height: 30px;
    display: block; /* 안보이면 block 넣어보기 */
    position: absolute;
    right: 0;
    cursor: pointer;
}
.inven-wrap .inven-content span::before,
.inven-wrap .inven-content span::after {
    content: '';
    width: 15px; height: 4px;
    background-color: rgb(205, 205, 205);
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    cursor: pointer;
}
.inven-wrap .inven-content span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.inven-wrap .inven-content .item-wrap {
    width: 230px; height: 225px;
    position: absolute;
    top: 30px; left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
    padding: 3px;
}

.inven-wrap .inven-content .item-wrap .item {
    display: inline-block;
    width: 70px; height: 70px;
    border: 1px solid rgb(60, 67, 73);
    border-radius: 3px;
}